<div class="about-me d-flex flex-column justify-content-center align-items-center">
  <div class="about-me__title m-3 font-weight-bold">About me:</div>
  <div class="about-me__photo d-flex justify-content-center align-items-center m-2">
    <img src="../../assets/img/avatar.jpg" alt="avatar" width="50%">
  </div>
  <div class="about-me__name">
    <p class="text-uppercase font-weight-bold">Irina Borkina</p>
  </div>
  <div class="about-me__status text-center">
      <p>I`m student at Epam Frontent Training</p>
  </div>
</div>
