<div>
  <h1 class="text-center text-success m-4">Todo App Description</h1>
  <p class="lead">To-do lists don't need to be complicated — plenty of people use a pen and paper for the job without
    any problem. And yet a new to-do list app seems to come out every day. Why? Because keeping track of your tasks is
    an intensely personal thing, and people will reject anything that doesn't feel right pretty much instantly. That
    makes it hard to find the right app.</p>
  <p class="lead">This TODO APP lets a user create, read, update and delete to-do tasks. A task has a title and
    description and can completed or active. Completed tasks can be deleted at once.</p>
</div>

<div class="d-flex justify-content-center">
  <img src="../../assets/img/todo-app1.PNG" alt="" width="70%">
</div>
