<p>todo-details works!</p>

<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/details-todo" routerLinkActive="active">Details todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about-todo" routerLinkActive="active">About Todo</a>
    </li>
  </ul>
</nav>-->
<!-- <router-outlet></router-outlet> -->


<!-- <div class="todo-details">
  <div class="title">Todo details:</div> -->
  <!-- <div class="todo-details__id">
      {{ todo.id }}
  </div>
  <div class="todo-details__title">
      {{ todo.title }}
  </div>
  <div class="todo-details__status">
      {{ todo.status }}
  </div> -->
<!-- </div> -->
