.list__item {
  margin: 5px 0;
  padding: 10px;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--done {
    border-left: 5px solid #90c281;
  }

  &--undone {
    border-left: 5px solid #ff3059;
  }

  .item-check {
    margin: 0 10px;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }

  &.selected {
    background-color: #ff6768;
  }
}
